<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104529476333-219soq3mrckuhi8l9i1tbb7hqi2m7bmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104529476333-219soq3mrckuhi8l9i1tbb7hqi2m7bmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104529476333-k7nqv3s45brtq786ndmjrs4d164fhb8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSJlWwtPkHjNOCJhZWYOCB2TJM5erAThk</string>
	<key>GCM_SENDER_ID</key>
	<string>104529476333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlkit</string>
	<key>PROJECT_ID</key>
	<string>testfirebaseios</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebaseios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104529476333:ios:617e8f6bc1a64ce1</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebaseios.firebaseio.com</string>
</dict>
</plist>